<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zshackathon">

    <!--Permissions for deeplinking -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions for scanning QR code (camera) -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZsHackathon"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".phoneNumberLogin.OtpSendActivity"
            android:exported="true">
            android:name=".phoneNumberLogin.OtpSendActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ZsHackathon.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DoctorAccessActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>

                <data android:scheme="https"
                    android:host="www.zshealthdoctor.com"></data>
            </intent-filter>
        </activity>

        <activity android:name=".DiagnosticCenterAccessActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>

                <data android:scheme="https"
                    android:host="www.zshealthdiagnosticcenter.com"></data>
            </intent-filter>
        </activity>

        <activity android:name=".phoneNumberLogin.OtpVerifyActivity"></activity>
    </application>

</manifest>